{% extends 'base.html' %}

{% block title %}
About Covid
{% endblock %}

{% block content %}
<h3 align="center"><mark>About Covid-19</mark></h2>
</br>
<h5>Corona Virus is especially hard to detect because you can have COVID-19 it even if you don’t show any symptoms. But what if you do show symptoms? You can get a COVID test, and find out for sure. Many diseases have similar symptoms to COVID-19, so it’s better to confirm it and then get it treated.
</h5>
<br>
<img src="https://www.otago.ac.nz/cs/groups/public/@biochemistry/documents/webcontent/otago738918.png"  style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%"></image>
<br>
<br>
<h5 style="text-align:center">
COVID-19 affects different people in different ways.
Most of the time, the virus declines after the first week,
but infected people remain contagious for up to 20 days.
Again, just because you don’t show any symptoms, doesn’t mean you don’t have the virus.</h5>
<br>
<br>
<img src="https://previews.123rf.com/images/zdeneksasek/zdeneksasek2003/zdeneksasek200300054/141990268-vector-cartoon-stick-figure-drawing-conceptual-illustration-of-sick-infected-man-coughing-or-sneezin.jpg" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">
  <br>

<h5>Infectious particles remain airborne or fall to the ground.
Additionally, COVID-19 Research has redefined the traditional understanding of how respiratory viruses transmit.
Virus particles are highest in concentration when people are neighboring, which leads to the easier viral transmission when people are physically close,
but airborne transmission can occur at longer distances, mainly in locations that are poorly ventilated; in those conditions,
minute particles can remain suspended in the air It often spreads in clusters or minutes to hours.</h5>
<br>
<br>
<h3 align="center"><mark>Various COVID strains</mark></h3>
<br>
<h5>Viruses constantly change through mutation, and new variants of a virus are expected to occur.
Sometimes new variants emerge and disappear. Other times, new variants persist.
Multiple variants of the virus that causes COVID-19 have been documented globally during this pandemic.</h5>
<img src="https://images.theconversation.com/files/405860/original/file-20210611-21-19fgbi2.png?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
  <br>
 <h5>The most prominent strains which were found in India are-</h5>
 <ol class="list-group list-group-flush">
     <li class="list-group-item"><b>Double mutant strain (B.1.617 variant)</b>-The double mutant strain was found in samples of saliva collected from Maharashtra, Punjab, and Delhi.</li>
     <li class="list-group-item"><b>UK Strain (B.1.1.7 Variant)</b>-India reported the UK variant of coronavirus for the first time on December 29, 2020. While there’s no evidence to prove that it’s more fatal, scientists believe that this strain is 70 percent more transmissible than the regular Covid-19 strain.</li>
     <li class="list-group-item"><b>South African Strain (B.1.351 Variant)</b>-This strain was first reported in India in February, 2021. This strain contains a mutation called N501Y that makes it more transmissible. According to the WHO, this variant “is less susceptible to antibody neutralisation” than previous variants.</li>
     <li class="list-group-item"><b>Brazilian Strain (P.1 Variant)</b>-As of March 30, 2021 one case of infection of the Brazilian strain was reported in Maharashtra. According to the Centres For Disease Control and prevention, all “these variants seem to spread more easily and quickly than other variants, which may lead to more cases of Covid-19.”
</li>
</li>
 </ol>
<br>

<h6 align="right"><i><mark>Be prepared with Covaware</mark></i></h6>
{%endblock%}
