{% extends 'base.html' %}

{% block title %}
Precautions
{% endblock %}

{% block content %}

<h3 align="center"><mark>Precautions</mark></h3>
<br>
<h5>Listed below are the various precautions one should take in order to prevent getting COVID-19:</h5>
<ul>
    <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
    <img src="https://media.istockphoto.com/vectors/how-to-use-hand-sanitizer-step-by-step-instructions-and-guidelines-vector-id1213193231" style= "display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>

    <li>Maintain a safe distance (6 feet) from anyone who is coughing or sneezing.</li>
    <img src="https://www.bu.edu/sph/files/2020/03/Stick-Figures-vs.-COVID-19-3.png" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
    <li>Wear a mask when physical distancing is not possible.</li>
    <img src="https://thumbs.dreamstime.com/z/vector-cartoon-illustration-man-wearing-face-mask-attacked-coronavirus-covid-infection-stick-figure-drawing-conceptual-175687670.jpg" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
  <br>
    <li>Don’t touch your eyes, nose or mouth.</li>
    <img src="https://media.istockphoto.com/vectors/signs-to-prevent-virus-infection-by-not-touching-vector-id1217713862?b=1&k=6&m=1217713862&s=612x612&w=0&h=CWE3ZPkIQ7I8lFpw2JU3w_tEOfOAjT9G6B4GoojQsIM=" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
    <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
    <img src="https://thumbs.dreamstime.com/b/hand-drawn-person-covering-mouth-tissue-sneezing-coughing-183112394.jpg" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
    <li>Stay home if you feel unwell.</li>
    <img src="https://c8.alamy.com/comp/2B27053/vector-cartoon-stick-figure-drawing-conceptual-illustration-of-sick-man-lying-in-bad-with-flucoldinfluenza-or-illness-2B27053.jpg" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
  <br>
    <li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkNEWU5JjugcqFRIEx6dL-lNfl2XzwMwtfMw&usqp=CAU" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
  <br>
</ul>
<br>
<h6 align="right"><i><mark>Be prepared with Covaware</mark></i></h6>




{%endblock%}
