{% extends 'base.html' %}

{% block title %}
Symptoms
{% endblock %}

{% block content %}
<h3 align="center"><mark>Symptoms</mark></h3>
<br>
<h5>The first thing to be noted about the symptoms,
which has been mentioned before and will be reiterated is,
<b>showing any of these symptoms does not necessarily mean you are infected. On the split side,
being asymptomatic does not need to mean you are disease-free.</b></h5>
<img src="https://www.kidshealth.org.nz/sites/kidshealth/files/images/Covid-Symptoms_Landscape.gif" class="center" style ="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"></image>
  <br>
 <h5>The most common symptoms experienced include-
</h5>
<ul class = "ul">
    <li>Fever or chills</li>
    <li>Dry cough</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>Headache</li>
    <li>New loss of taste or smell</li>
    <li>Sore throat</li>
    <li>Congestion or runny nose</li>
    <li>Nausea or vomiting</li>
    <li>Diarrhea</li>
</ul>
<br>
<br>
<h5>However, on the arrival of more severe symptoms like the ones below, seek <b>immediate medical help.</b></h5>
<ul>
    <li>Trouble breathing</li>
    <li>Persistent pain or pressure in the chest</li>
    <li>New confusion</li>
    <li>Inability to wake or stay awake</li>
    <li>Pale, gray, or blue-colored skin, lips, or nail beds, depending on skin tone</li>
</ul>
<br>
<h6 align="right"><i><mark>Be prepared with Covaware</mark></i></h6>



{%endblock%}
