<!--Inherits the base.html code , and the code for this page should be inside block content-->
{% extends 'base.html' %}

{% block title %}
Vaccine related info
{% endblock %}

{% block content %}
<h3 align ="center"><mark>About Vaccines</mark></h3>
<img src ="https://thumbs.dreamstime.com/z/medicine-doctor-covid-coronavirus-vaccine-vector-cartoon-stick-figure-illustration-big-injection-character-208237328.jpg" style="display: block;
  margin-left: auto;
  margin-right: auto;"
 height ="500" width ="500"></image>
 <br>
<h5>There are now several vaccines that are in use. The first mass vaccination programme started in early December 2020 and the number of vaccination doses administered is updated on a daily basis here. At least 13 different vaccines (across 4 platforms) have been administered.
Once vaccines are demonstrated to be safe and efficacious, they must be authorized by national regulators, manufactured to exacting standards, and distributed. WHO is working with partners around the world to help coordinate key steps in this process, including to facilitate
equitable access to safe and effective COVID-19
vaccines for the billions of people who will need them.
</h5>

<br>
<br>
<h3 align ="center"><mark>FAQS related to Vaccines</mark></h3>
<br>
<h5><u>Which is the most effective Covid-19 vaccine?</u></h5>
<h6>Pfizer-BioNTech, Moderna, and Oxford-AstraZeneca have all announced that their vaccine candidates are effective in protecting against COVID-19.
Bahrain, the UK, Canada, the US, and Mexico have already approved the use of the Pfizer vaccine in their countries, and
the Moderna vaccine seems sure to soon follow suit. India has so far given more than 260 million doses of three approved vaccines -
Covishield, Covaxin and Sputnik V. It also gave approval to Indian pharma company Cipla  to import the Moderna vaccine,
which has shown nearly 95% efficacy against Covid-19.
</h6>
<hr>
<h5><u>Can I have the second dose with a different vaccine than the first dose?</u></h5>
<h6>Clinical trials in some countries are looking at whether you can have a first dose from one vaccine and a second dose from a different vaccine. There isn't enough data yet to recommend this type of combination.</h6>
<hr>
<h5><u>Is the vaccine safe for children?</u></h5>
<h6>Vaccines are usually tested in adults first, and only later assessed in children when safety has been proven in adults, because children are still developing and growing. COVID-19 has also been a more serious and dangerous disease among older people. Now that the vaccines have been determined to be safe for adults, they are being studied in children.
Children aged between 12 and 15 who are at higher risk of severe COVID-19 may be offered this vaccine alongside other priority groups for vaccination.
While the supply of vaccines is limited, the ongoing priority is to vaccinate those most at risk of serious illness who still have not been vaccinated in many parts of the world: older people, those with chronic health conditions, and health workers. Most children are at low risk of serious disease and vaccinating them is primarily about reducing transmission, which can also be achieved through public health measures, including: physically distancing from others, cleaning hands frequently, sneezing and coughing into their elbow, wearing a mask if age appropriate and avoiding crowded, poorly ventilated spaces.
</h6>
<hr>
<h5><u>Do the vaccines protect against variants?</u></h5>
<h6>More studies are needed to assess the effectiveness of the current COVID vaccines against the variants. A growing body of data suggests that most vaccines stimulate enough immunity to retain substantial efficacy against most variants, especially for severe disease, hospitalization, and death. The impact of the variants on
efficacy against mild disease and against infection without disease is more impacted than for the more severe outcomes.
The reason vaccines substantially retain protection against disease is likely related to the broad immune response they induce, which means that virus changes or mutations are unlikely to make vaccines completely ineffective. If any of these vaccines become less effective against one or more variants, it will likely be possible to change the composition of the vaccines to protect against these variants, however this will take time and additional data to fully evaluate. Data continues to be collected and analysed on new variants of the COVID-19 virus.
</h6>
<hr>

{%endblock%}
